@import ../../sass/global

.hero-section
    align-items: center
    justify-content: space-between
    
    +all-large-screen
        align-items: flex-start

.featured-product-info.featured-product-hero-info.col  
    margin-top: min(112px, 34.25%) 
    
    +all-screen-bigger-than-mobile
        margin-top: 130px

    +all-large-screen
        align-items: flex-start
        text-align: left

.featured-product-hero-header
    padding: 28px 0 25px
    
    +all-tablets
        padding: 35px 2em
    
    +all-large-screen
        padding: 36px 58% 36px 0


.featured-product-description-hero.featured-product-description
    padding-top: 0

    +small-phone
        padding: 0 0 28px

    +large-phone
        padding: 0 12% 28px
    
    +all-tablets
        padding: 0 25% 45px
    
    +large-tablet
        padding: 0 30% 45px
    
    +all-large-screen
        padding: 0 67% 46px 0
    

   




