@import ../../sass/global


.hero-section
    align-items: center
    justify-content: space-between
    padding-bottom: 110px

    +small-phone
        padding-bottom: 115px
    
    +tiny-phone
        padding-bottom: 50px

    +all-tablets
        padding-bottom: 137px

    +laptop
        padding-bottom: 188px
    
    +desktop
        padding-bottom: 188px

    +all-large-screen
        align-items: flex-start