@import ../../sass/global

main.product-page section.main-container div.featured-product-container
    +all-screen-bigger-than-mobile
        flex-direction: row


.featured-product-container .content-slab.featured-product-image-container.product-page-image-container
    +all-phone
        height: 327px

    +all-tablets
        height: 480px

        & .featured-product-image.image-tablet
            height: auto


.product-details-and-accessories.main-container
    display: flex
    flex-direction: column
    gap: 96px
    margin: 96px auto 86px

    +all-large-screen
        flex-direction: row
        gap: 0
        justify-content: space-between


.featured-product-info.col.product-page-info
    align-items: flex-start
    text-align: left

    +all-tablets
        padding: 36px 0 34px


.overline.new-product-intro.product-page-intro 
    font-size: 12px

.featured-product-info.col.product-page-info .small-featured-product-header.product-page-header
    padding: 0 16% 0 0 

    +all-tablets
        padding: 10px 30% 20px 0
    

.featured-product-info.col .product-page-description
    
    +all-tablets
        margin-bottom: 20px
        padding: 0 20% 0 0


.featured-product-info.col.product-page-info .product-price
    font-size: 18px
    font-weight: bold
    letter-spacing: 1.29px
    margin-bottom: 20px


.featured-product-info.col.product-page-info .purchase-buttons.row
    gap: 16px
    width: 90.51%

    +all-tablets
        width: 87.18%

.featured-product-info.col.product-page-info .purchase-buttons.row .button-container
    max-width: 160px
    width: 54.05%

.featured-product-info.col.product-page-info .purchase-buttons.row .button-container .button-dark-orange
    width: 100%