@import ../../sass/global


.featured-product-info.col
    align-items: center
    gap: 24px

    +all-screen-bigger-than-mobile
        gap: 0
    
    +all-large-screen
        align-items: flex-start
        text-align: left

    justify-content: center
    text-align: center


.featured-product-info.col.product-page-info
    align-items: flex-start
    text-align: left

.small-featured-product-header
    @extend %small-header
    color: $black
    letter-spacing: 1px
    padding: 0 9%
    
    +all-tablets
        font-size: 40px
        letter-spacing: 2px
        line-height: 44px

.featured-product-info.col.product-page-info .small-featured-product-header.product-page-header
    padding: 0 16% 0 0 


.featured-product-info.col.product-page-info .purchase-buttons.row
    justify-content: space-between
    width: 90.51%


