@import ../../sass/global


.featured-product-info.col
    align-items: center
    gap: 24px
    justify-content: center
    text-align: center

    +all-screen-bigger-than-mobile
        gap: 0
    
    +all-large-screen
        align-items: flex-start
        text-align: left