$small-phone-width: 333px
$large-phone-width: 515px
$small-tablet-width: 768px
$medium-tablet-width: 820px
$small-laptop-width: 1024px
$laptop-width: 1240px
$desktop-width: 1440px


=small-phone
  @media (max-width: $small-phone-width)
    @content

=large-phone
  @media (min-width: $large-phone-width) and (max-width: $tablet-width - 1)
    @content

=small-tablet
  @media (min-width: $small-tablet-width) and (max-width: $medium-tablet-width - 1)
    @content

=medium-tablet
  @media (min-width: $medium-tablet-width) and (max-width: $small-laptop-width - 1)
    @content

=all-tablets
  @media (min-width: $small-tablet-width) and (max-width: $small-laptop-width - 1)
    @content 

=laptop
  @media (min-width: $small-laptop-width) and (max-width: $desktop-width - 1)
    @content

=desktop
  @media (min-width: $desktop-width)
    @content

=all-phone
  @media (min-width: 0px) and (max-width: $small-tablet-width - 1)
    @content

=all-large-screen
  @media (min-width: $small-laptop-width)
    @content

=all-screen-bigger-than-mobile
  @media (min-width: $small-tablet-width)
    @content











