@import fonts
@import colors
@import utilities

%default-button-styles
    @extend %custom-font
    @include subheading-font
    background: none
    border: 1px solid $black
    height: 48px
    transition: all .5s 
    width: 160px

    &:hover
        cursor: pointer


.button-dark-orange, .button-black 
    color: $white

.button-dark-orange
    @extend %default-button-styles 
    background: $dark-orange
    border-color: $dark-orange

    &:hover 
        background: $pale-orange
        border-color: $pale-orange

.button-black
    @extend %default-button-styles
    background: $black

    &:hover
        background: none
        color: $black

.button-transparent
    @extend %default-button-styles 
    background: transparent
    border: 1px solid $black
    color: $black

.button-with-arrow-icon
    @extend %default-button-styles
    align-items: center
    border: none
    color: $button-three-text-color
    display: flex
    height: 18px
    justify-content: space-between 
    width: 57.32px

    &:hover
        @include hover-orange

.button-plus, .button-minus 
    @include subheading-font
    background: transparent
    color: $plus-minus-buttons-grey
    transition: color .5s 

    &:hover
        @include hover-orange