$dark-orange: #d87d4a
$almost-black: #101010
$quantity-container-grey: #f0f1f1
$plus-minus-buttons-grey: #b5b5b5
$light-grey: #F1F1F1
$very-light-grey: #FAFAFA
$button-three-text-color: #7b7979
$pale-orange: #FBAF85
$white: #FFFFFF
$black: #000000
$thin-rule: #979797
$body-text-color: #c6c6c6
$new-product-grey: #8c8c8c
