$dark-orange: #d87d4a
$black-button-hover: #4c4c4c
$almost-black: #101010
$header-black-background: #080404
$quantity-container-grey: #f0f1f1
$plus-minus-buttons-grey: #b5b5b5
$light-grey: #F1F1F1
$very-light-grey: #FAFAFA
$darker-grey-text-color: #7d7d7d
$footer-text-grey: #888484
$button-three-text-color: #7b7979
$pale-orange: #FBAF85
$white: #FFFFFF
$black: #000000
$thin-rule-header: #2d2d2d
$body-text-color: #c6c6c6
$new-product-grey: #8c8c8c

.dark-orange-text
    color: $dark-orange

.black-text
    color: $black

.new-product-grey-text
    color: $new-product-grey

.white-text
    color: $white

.darker-grey-text
    color: $darker-grey-text-color