@import breakpoints
@import mixins

*, *::before, *::after
    box-sizing: border-box
    margin: 0
    padding: 0

div 
    width: 100%

div.auto-width
    width: auto
    
a 
    text-decoration: none

img 
    max-height: 100%
    max-width: 100%
    


////////// containers ///////////


.main-container 
    margin: auto
    max-width: 470px
    width: 87.2%

    +all-tablets
        max-width: 820px
        width: 89.71%
    
    +all-large-screen
        max-width: 1500px
        width: 77.08%

.row, .col
    display: flex

.col
    flex-direction: column

.content-slab
    background: $light-grey
    border-radius: 8px
    position: relative
    width: 100%


////////// images ///////////

.image-mobile
    +all-screen-bigger-than-mobile
        display: none

.image-tablet
    +all-phone
        display: none

    +all-large-screen
        display: none

.image-desktop
    +all-phone
        display: none

    +all-tablets
        display: none

.image-thumbnail
    height: 64px
    width: 64px

////////// display ///////////

.hide
    display: none
