@import ../../sass/global

main.category-page section.main-container.featured-product-container, main.product-page section.main-container.featured-product-container
    display: flex
    flex-direction: column
    gap: 36px

    +all-tablets
        gap: 52px

    +all-large-screen
        flex-direction: row
        justify-content: space-between
    
        & .featured-product-text-container
            display: flex
            flex-direction: column
            justify-content: center
            width: 40%

main.category-page section.main-container.featured-product-container:nth-of-type(2) .content-slab.featured-product-image-container
    
    +all-large-screen
        order: 2


main.product-page section.main-container.featured-product-container
    +all-screen-bigger-than-mobile
        flex-direction: row



.content-slab.featured-product-image-container
    align-items: center
    display: flex
    justify-content: center
    height: 352px
    width: 100%

    +all-large-screen
        height: 560px
        width: 540px

.content-slab.featured-product-image-container .featured-product-image
    height: auto
    width: 100%


.content-slab.featured-product-image-container.product-page-image-container
    +all-phone
        height: 327px

    +all-tablets
        height: 480px

        & .featured-product-image.image-tablet
            height: auto



    
