@import ../../sass/global

.main-container.col.featured-product-container
    gap: 36px

    +all-tablets
        gap: 52px

    +all-large-screen
        align-items: center
        flex-direction: row
        gap: 0
        justify-content: space-between

        & .featured-product-image-container
            width: 48.65%
    
        & .featured-product-text-container
            width: 40%
    


.main-container.col.featured-product-container .featured-product-text-container.col
    justify-content: center