@import ../../sass/global

.featured-product
    align-items: center
    gap: 2em
    text-align: center

.new-product-intro
    color: $new-product-grey

.featured-product-header
    color: $white

    +all-phone
        font-size: 2.25rem

.featured-product-description
    padding: 0 15px
    