@import ../../sass/global

.related-products-section.main-container.col
    align-items: center

.related-products-header
    margin-bottom: 48px

    +all-screen-bigger-than-mobile
        font-size: 32px

.all-related-products-container

    +all-screen-bigger-than-mobile
        display: flex

    +all-tablets
        gap: 11px

    +all-large-screen
        gap: 30px

.related-product-container.col
    margin-bottom: 56px
    width: 100%

    &:nth-of-type(3)
        margin-bottom: 0

.related-product-container.col .content-slab
    height: 120px

    +all-screen-bigger-than-mobile
        height: 318px
    

.related-product-image-container
    align-items: center
    display: flex
    height: 100%
    margin: auto
    max-width: 325px
    position: relative
    width: 100%

    +all-tablets
        max-width: 223px
    
    +all-large-screen
        max-width: 350px


.related-product-image.thumbnail-image
    
    max-height: 100%
    width: 100%

.featured-product-info.col.related-product-info
    align-items: center
    margin-top: 40px
    text-align: center

    +all-tablets
        margin-top: 48px

    +all-large-screen
        gap: 40px
    

.related-product-info-header
    font-size: 24px

    +all-tablets
        margin-bottom: 38px

.related-products-header, .related-product-info-header
    +tiny-phone
        font-size: 22px
    