@import ../../sass/global

div.featured-product-one
    background: $dark-orange
    border-radius: 8px
    position: relative
    
svg.circle-pattern-svg
    @include set-image-component-as-background

.featured-product-one-image-and-text
    align-items: center
    display: flex
    flex-direction: column
    position: relative           /* for stacking order */
    
    +all-large-screen
        flex-direction: row

.featured-product-one-image-mobile
    height: 207px
    width: 172px

.featured-product-one-image-tablet
    height: 237px
    width: 197px

.featured-product-one-image-desktop
    height: 493px
    width: 410px