@import ../../sass/global

div.featured-product-one
    background: $dark-orange
    border-radius: 8px
    position: relative
    

svg.circle-pattern-svg
    position: absolute
    width: 100%
    
    

.featured-product-one-image-and-text
    align-items: center
    display: flex
    flex-direction: column
    position: relative           /* for stacking order */
    

    +all-large-screen
        flex-direction: row

.featured-product-image-mobile
    height: 207px
    width: 172px

    +all-screen-bigger-than-mobile
        display: none

.featured-product-image-tablet
    height: 237px
    width: 197px

    +all-phone
        display: none

    +all-large-screen
        display: none

.featured-product-image-desktop
    height: 493px
    width: 410px

    +all-phone
        display: none

    +all-tablets
        display: none