@import ../../sass/global

header
    position: relative

.mobile-header-image-and-menu

    +all-screen-bigger-than-mobile
        display:  none

.tablet-header-image-and-menu
    +all-phone
        display: none
    
    +laptop
        display: none

    +desktop
        display: none

.desktop-header-image-and-menu
    +all-phone
        display: none

    +all-tablets
        display: none


.header-image
    position: absolute
    width: 100%
    z-index: -1

.mobile-header, .tablet-header, .desktop-header
    align-items: center
    height: 90px
    justify-content: space-between


.tablet-header
    & .icon-group
        justify-content: space-between
        width: 25%



    