@import ../../sass/global

.nav-link
    color: $white
    font-size: 0.8125rem
    letter-spacing: 2px 
    line-height: 25px
    text-transform: uppercase
    transition: color 0.5s

    &:hover
        @include hover-orange