@import ../../sass/global


.featured-product-two-image-and-text
    align-items: center
    display: flex
    justify-content: center
    padding: 102px 0
    position: relative
    

.featured-product-two-image
    @include set-image-component-as-background
    border-radius: 8px
    z-index: -1