@import ../../sass/global

main.category-page section.category-features.col
    gap: 120px
    margin: 64px 0 80px

    +all-tablets
        margin: 120px 0 24px


.small-featured-product-header.category-page-featured-product-header
    letter-spacing: 1px
    padding: 0 9%
    
    +all-tablets
        font-size: 40px
        letter-spacing: 2px
        line-height: 44px
        padding: 28px 9% 44px
    
    +all-large-screen
        font-size: 40px
        padding-left: 0
    

.featured-product-info.col .category-page-featured-product-description

    +all-tablets
        margin-bottom: 28px
        padding: 0 9%

    +all-large-screen
        padding: 40px 0