@import ../../sass/global

.featured-products-section.main-container.col
    gap: 24px
    
    +all-tablets
        gap: 32px
        
    +all-large-screen
        gap: 48px
        

html > body > div#root > header.header-black-background
    background: transparent