@import ../../sass/global

.featured-products-section
    gap: 24px
    padding: 120px 0

    +all-tablets
        gap: 32px
        padding: 96px 0

    +all-large-screen
        gap: 48px
        padding: 168px 0
