@import ../../sass/global


.banner 
    align-items: center
    background-color: $header-black-background
    display: flex
    flex-direction: column
    justify-content: flex-start
    margin: 0


.banner .banner-text
    color: $white
    padding: 31.5px 0

    +all-phone
        font-size: 28px
        line-height: 38px

    +all-screen-bigger-than-mobile
        padding: 100.5px 0